/* Carousel */
.carousel {
  position: relative;
}

.slide {
  position: relative;
  height: 300px;
}

.grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  user-select: none;
}

.dots {
  position: absolute;
  right: 5%;
  top: 50%;
  display: flex;
  flex-direction: column;
}

.dots [data-active='false'] {
  background-color: var(--color-grey-light);
}

.dots [data-active='true'] {
  background-color: var(--color-primary);
  height: 20px !important;
  width: 8px !important;
}

@mixin media md {
  .slide {
    position: relative;
    height: 400px;
  }

  .dots {
    right: 10%;
  }
}
