.root {
  border: 0;
  background-color: transparent;
  outline: 0;
  display: inline-flex;
  align-items: center;
  position: absolute;
  cursor: pointer;
  z-index: var(--zIndex-base);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.root:disabled > svg {
  opacity: 0.5;
}

.isHideOnMobile {
  display: none;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.middle {
  top: 50%;
  transform: translateY(-50%);
}

.circle.middle {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.20);
  border-radius: 50%;
}

.circle {
  width: 40px;
  height: 40px;
}

.circle > svg {
  margin-left: 4px;
  width: 20px;
  height: 20px;
}

@mixin media md {  
  .isHideOnMobile {
    display: inline-flex;  
  }
}
